<a href="/items/new">new items</a>

<h1>List</h1>
  </ul>
    <% items.each_with_index do |item, index| %>
      <li><%= item %><a href = /items/<%= index %>> click</a></li>
      <% end %>

<a href='/'>back</a>